*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Titolo e testo */
.intro{
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}


h1{
    padding: 50px;
    color: pink;
    font-size: 30px;
    
}

h3, h1{
    font-family: 'Fredoka One';
}

/* Inizio Struttura float */
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.container{
    max-width: 80%;
    margin: auto;
    padding-top: 20px;
}

/* Allineamento delle card nel container */
.card{
    background-color: black;
    float: left;
    height: 100px; 
    width: 30%;
    box-shadow: 0px 0px 10px black;
}

/* Spaziatura delle card */
.mr{   
    margin-right: 2.5%;
}

.m{    
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.ml{
    margin-left: 2.5%;
}

/* Collocamento img e scritte  */
img{
    height: 100px;  
    float: left;
}

.info{
    color: white;
    margin: 10px;
    line-height: 25px;
    padding-left: 110px;
}


a{
    color: rgb(24, 223, 223);
    text-decoration: none;
}
